body, html {
  border: 0;
  margin: 0;
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.lookup-table {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

th {
  /* Force equal column width. Fixed-width tables allocate column widths
  proportionally to their content widths, so we'll explicitly set a width wider
  than the widest possible content to ensure all columns are allocated equal
  space. Note that if we make this *too* wide, the wider-content columns again
  get assigned proportionally more space for some reason. */
  width: 4em; 
}

.lookup-table td {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.lookup-table td.full {
  cursor: pointer;
}

.lookup-table td.empty {
  background-image: url(empty.png);
}

.lookup-table-popup {
  display: none;
}

.lookup-table-popup img, .lookup-table-popup .mejs-video {
  display: inline-block;
}

